html,
body,
table,
tr, td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

select,
input {
  width: 100%;
}

form label {
  float: left;
  padding-top: 4px;
  width: 22%;
}

#logo {
  text-align: center;
}

.page {
  display: none;
}

.content-top {
  background: #CCC;
  display: block;
  float: left;
  width: 100%;
}

.content-top,
.content {
  border-width: 0;
}

.content {
}

.header {
  background: #333;
  padding: 0.5em 0;
  text-align: center;
}

.header h3 {
  color: #FFF;
  display: block;
  font-size: 1.2em;
  margin: 0 90px;
}


/** FORMS **/
.form-element {
  margin: 0.3em 0;
}

.button-wrapper {
  margin: .5em 5px;
}

.button {
  height: 3em;
}


/** PAGES **/

/** #results **/
#upc,
#store {
  width: 75%;
}

#results table {
  width: 60%;
}

#results table input {
  width: 40px;
}

#results table label {
  width: 100%;
}

#results .col-label {
  text-align: right;
}

/** #loading **/
#loading-throbber {
  background: url("images/throbber.gif");
  height: 32px;
  margin: 0 auto;
  width: 32px;
}

/** UTILITY **/
.column-75 {
  width: 75%;
  float: left;
}

.column {
  padding: 8px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
