<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"   
        xmlns:rim="http://www.blackberry.com/ns/widgets" 
        version="1.0.0.0">
  <name>OWFG Scanner</name>
  <description>Overwaitea Food Group Barcode Scanner</description>
  <author rim:copyright="2011" 
          email="tom@tnightingale.com">BCIT CST DataComm 2011</author>
  <icon src="resources/logo_ofg_72.png" />
  <rim:loadingScreen foregroundImage="resources\logo_ofg_72.png" onFirstLaunch="true" />
  <content src="http://[YOUR.IP.HERE]/index.html" />
  <access subdomains="true" uri="http://[YOUR.IP.HERE]">
    <feature id="barcode.scanner" required="true" version="1.0.0" />
    <feature id="blackberry.widgetcache" /> 
  </access>
  <!--<rim:navigation mode="focus" />-->
</widget>
