<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"   
        xmlns:rim="http://www.blackberry.com/ns/widgets" 
        version="1.0.0.0">
  <name>WW Example</name>
  <description>Tom's WebWorks Example</description>
  <author rim:copyright="2011" 
          email="tom@tnightingale.com">Tom Nightingale</author>
  <icon src="resources/icon.png"/>
  <rim:loadingScreen foregroundImage="resources\logo_ofg_72.png" onFirstLaunch="true"/>
  <content src="http://[YOUR.IP.HERE]/index.html"/>
  <access subdomains="true" uri="http://[YOUR.IP.HERE]">
    <feature id="barcode.scanner" required="true" version="1.0.0"/>
    <feature id="blackberry.widgetcache" /> 
  </access>
  <!--<rim:navigation mode="focus" />-->
</widget>
